<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        form {
            background-color: #fff;
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            font-weight: 700;
        }

        .input-group {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

            .input-group label {
                flex: 0 0 200px;
                margin-right: 20px;
                color: #333;
            }

            .input-group input,
            .input-group select {
                flex: 1;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
                outline: none;
            }

                .input-group input:focus,
                .input-group select:focus {
                    border-color: #ff5c5c;
                    box-shadow: 0 0 5px rgba(255, 92, 92, 0.5);
                }

                .input-group input[type="radio"] {
                    margin-right: 5px;
                }

            .input-group div {
                margin-right: 15px;
            }

        button {
            padding: 10px 20px;
            background-color: #ff5c5c;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            transition: background-color 0.3s ease;
            align-self: flex-end; /* Move the button to the right */
        }

            button:hover {
                background-color: #ff4242;
            }
    </style>
</head>

<form>
    <div class="input-group">
        <input type="hidden" name="fileName" id="fileName" value="@Model.ThisFileName">
    </div>

    <div class="input-group">
        <label for="benzerlikName">Benzerlik seçiniz</label>
        <select type="text" name="benzerlikName" id="benzerlikName" multiple>
            @foreach (var file in Model.FieldList)
            {
                <option value="@file">@file</option>
            }
        </select>
    </div>

    <div class="input-group">
        <label for="getProductName">Aradığınız Ürünü Giriniz</label>
        <input type="text" name="getProductName" id="getProductName">
    </div>

    <div class="input-group">
        <label for="productName">Veri Setindeki Product Name'i Giriniz</label>
        <input type="text" name="productName" id="productName">
    </div>

    <div class="input-group">
        <label>Veri türü nümerik mi?</label>
        <div>
            <input type="radio" id="evet" name="p_type" value="evet">
            <label for="evet">Evet</label>
        </div>
        <div>
            <input type="radio" id="hayir" name="p_type" value="hayir">
            <label for="hayir">Hayır</label>
        </div>
    </div>

    <button asp-controller="Home" asp-action="ProcessSuggestions" class="btn btn-danger">Öneri al</button>
</form>